@import url('https://fonts.googleapis.com/css?family=Montserrat:300,600');

html, body, canvas {
    font-family: 'Montserrat', serif;
    font-weight: 300;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.App {
    background-color: #222222;
    color: azure;
}


.Logo img {
    width: 10em;
    height: auto;
    vertical-align: middle;
}

.Nav{
    position: relative;
    top: 1em;
    align-content: center;
}

.Nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    align-content: center;
}

.Nav li {
    display: inline;
    margin: 0.7em;
    transition: 0.5s;
}

.Nav li:hover {
    color: deepskyblue;
}

.Menu {
    align-content: center;
    position: relative;
    top: 1em;
}

.Menu *{
    display: inline-block;
    vertical-align: middle;
}

header, footer, main {
    width: 100vw;
    position: absolute;
}

header {
    top: 1em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    z-index: 2;
}

header :first-child {
    margin-left: 1em;
}

header :last-child {
    margin-right: 1em;
}

footer {
    display: flex;
    justify-content: space-between;
    z-index: 2;
    bottom: 1em;
}

footer a {
    margin-left: 2em;
}

footer :first-child{
    margin-left: 1em;
}

footer :last-child {
    margin-right: 1em;
}

.Social * {
    margin: .3em;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    z-index: -1;
}

.quote {
    font-weight: 600;
    position: absolute;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    width: 50%;
    color: white;
}

/* flashing background */

.thunder {
    width: 100%;
    height: 100%;
    background-color: #222;
    background-image: url('https://drive.google.com/uc?export=view&id=0BzFF7FmbJUo5X0NEUXFVd0NBcWc');
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
.thunder:after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
    animation: thunder-bg 6s infinite;
}
canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
/*#canvas3 {*/
    /*z-index: 5;*/
/*}*/
#canvas2 {
    z-index: 2;
}
#canvas1 {
    z-index: 3;
}
@-webkit-keyframes thunder-bg {
    0% {
        background-color: rgba(34, 34, 34, .9);
    }
    9% {
        background-color: rgba(34, 34, 34, .9);
    }
    10% {
        background-color: rgba(59, 59, 59, .3);
    }
    10.5% {
        background-color: rgba(34, 34, 34, .9);
    }
    80% {
        background-color: rgba(34, 34, 34, .9);
    }
    82% {
        background-color: rgba(59, 59, 59, .3);
    }
    83% {
        background-color: rgba(34, 34, 34, .9);
    }
    83.5% {
        background-color: rgba(59, 59, 59, .3);
    }
    100% {
        background-color: rgba(34, 34, 34, .9);
    }
}